* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

:root {
  font-size: 64.5%;
}

body {
  background: url(../img/bg.jpg);
}

.container {
  height: 100vh;
  color: #fff;
  background: url(../img/chester-main.jpg) no-repeat center;
  background-size: cover;
}

body,
h4,
a {
  display: inline;
  color: #fff;
  font: 500 1.6rem/1 "Roboto", sans-serif;
  text-decoration: none;
}

.header-area {
  width: 100%;
  padding: 10px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 99;

  background-color: rgba(0, 0, 0, 0.137);
  color: white;
  position: fixed;
}

.header-area img {
  cursor: pointer;
  width: 60px;
  margin: 0 20px 0 0;
}

.left-area,
.right-area {
  text-transform: uppercase;
  margin: 0 130px;
}

.header-area .left-area {
  display: flex;
  align-items: center;
}

.main-menu {
  list-style-type: none;
  overflow: hidden;
}

.main-menu li {
  display: inline;
}

.main-menu li a {
  padding: 15px 20px;
}

.right-area {
  display: flex;
  align-items: center;
}

.play-music {
  cursor: pointer;
  margin-left: 20px;
  font-size: 4.5rem;
}

.play-music:hover {
  color: #e9e9e9;
  transition: 0.4s;
}

.main-header-area {
  padding: 0 0 0 120px;
  width: 650px;
  height: 90vh;

  display: flex;
  justify-content: center;
  flex-direction: column;

  font: 900 2.5rem/2 "Merriweather", serif;
}

.main-header-area h3 {
  font: 900 1.8rem/3 "Merriweather", serif;
  margin-right: 38px;
  text-align: right;
}

.footer-header-area {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-header-area .left-area em,
.footer-header-area .right-area em {
  margin-right: 10px;
}

.middle-area {
  cursor: pointer;
}

.footer-header-area .middle-area em {
  margin: 0 10px;
}

.main-section {
  scroll-behavior: smooth;
  padding: 0 45px;
}

.tribute-area-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 0 30px;
}

.tribute-area-info:nth-child(1n + 1) {
  margin-top: 50px;
}

.tribute-area-info img {
  border-radius: 5px;
  filter: brightness(50%);
  -webkit-box-shadow: 10px 10px 54px -30px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 54px -30px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 54px -30px rgba(0, 0, 0, 1);

  width: 47%;
  min-width: 600px;
}

.tribute-area-text {
  width: 47%;
  font: 400 1.6rem/1.38 "Roboto", sans-serif;
}

.tribute-area-text h2,
.music-area h2,
.album-area h2 {
  margin: 10px 0;
  line-height: 3.4rem;
  letter-spacing: 0.23rem;
}

.music-area {
  margin-top: 40px;
  padding: 45px;
}

.musics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.musics iframe {
  width: 100%;
  height: auto;
  min-height: 250px;
}

.musics h3 {
  font: 500 2rem/1.7 "Roboto", sans-serif;
}

.musics h4 {
  font: 500 1.6rem/1.5 "Roboto", sans-serif;
  display: block;
}

.musics span {
  font: 400 1.4rem/1.5 "Roboto", sans-serif;
  color: #b9b9b9;
}

.album-area {
  padding: 45px;
}

.albums {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.albums img {
  width: 100%;
  height: 240px;
  max-height: 240px;

  border-radius: 5px;
  filter: brightness(80%);
  -webkit-box-shadow: 10px 10px 54px -30px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 54px -30px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 54px -30px rgba(0, 0, 0, 1);
}

.albums h3 {
  font: 500 2rem/2 "Roboto", sans-serif;
}

.albums h4 {
  font: 500 1.6rem/1.5 "Roboto", sans-serif;
  display: block;
}

.albums span {
  font: 400 1.6rem/1.5 "Roboto", sans-serif;
  color: #b9b9b9;
}

.albums ul li {
  list-style-type: disc;

  font: 400 1.8rem/1.5 "Roboto", sans-serif;
  margin-left: 16px;
}
