* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

:root {
  font-size: 64.5%;
}

.container {
  width: 100%;
  color: #fff;
  background: url(../img/bg.jpg);
}

body,
h4,
a {
  display: inline;
  color: #fff;
  font: 500 1.6rem/1 "Roboto", sans-serif;
  text-decoration: none;
}
